apps/api/state_machine_definition.json
{
  "Comment": "Morphix asynchronous conversion workflow with SQS buffering",
  "StartAt": "MarkQueued",
  "States": {
    "MarkQueued": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "__JOBS_TABLE_NAME__",
        "Key": {
          "job_id": {
            "S.$": "$.job_id"
          }
        },
        "UpdateExpression": "SET #status = :status, #updated_at = :updated_at, #queued_at = :queued_at",
        "ExpressionAttributeNames": {
          "#status": "status",
          "#updated_at": "updated_at",
          "#queued_at": "queued_at"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "QUEUED"
          },
          ":updated_at": {
            "S.$": "$$.State.EnteredTime"
          },
          ":queued_at": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": null,
      "Next": "QueueWorker"
    },
    "QueueWorker": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Parameters": {
        "QueueUrl": "__CONVERSION_QUEUE_URL__",
        "MessageBody": {
          "task_token.$": "$$.Task.Token",
          "payload.$": "$"
        },
        "MessageAttributes": {
          "job_id": {
            "DataType": "String",
            "StringValue.$": "$.job_id"
          },
          "user_id": {
            "DataType": "String",
            "StringValue.$": "$.user_id"
          }
        }
      },
      "TimeoutSeconds": "__WORKER_CALLBACK_TIMEOUT_SECONDS__",
      "Retry": [
        {
          "ErrorEquals": [
            "SQS.AmazonSQSException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.worker_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ],
      "Next": "MarkCompleted"
    },
    "MarkCompleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "__JOBS_TABLE_NAME__",
        "Key": {
          "job_id": {
            "S.$": "$.job_id"
          }
        },
        "UpdateExpression": "SET #status = :status, #updated_at = :updated_at",
        "ExpressionAttributeNames": {
          "#status": "status",
          "#updated_at": "updated_at"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "COMPLETED"
          },
          ":updated_at": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "End": true
    },
    "MarkFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "__JOBS_TABLE_NAME__",
        "Key": {
          "job_id": {
            "S.$": "$.job_id"
          }
        },
        "UpdateExpression": "SET #status = :status, #updated_at = :updated_at, #error_message = :error_message",
        "ExpressionAttributeNames": {
          "#status": "status",
          "#updated_at": "updated_at",
          "#error_message": "error_message"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "FAILED"
          },
          ":updated_at": {
            "S.$": "$$.State.EnteredTime"
          },
          ":error_message": {
            "S": "No fue posible convertir el archivo. Verifica que el archivo no este corrupto."
          }
        }
      },
      "Next": "FailWorkflow"
    },
    "FailWorkflow": {
      "Type": "Fail",
      "Error": "WorkerFailed",
      "Cause": "The conversion worker failed."
    }
  }
}
